/*reset*/

* {
    margin: 0;
    padding: 0;
    /*值为0不写单位*/
}


/*顶端文字*/

header {
    font-size: 14px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}


/*魔方块*/


/*舞台*/

article {
    display: flex;
    justify-content: center;
    -webkit-perspective: 700px;
    -webkit-perspective-origin: 0px -80px;
    margin-top: 200px;
}


/*容器*/

#box {
    -webkit-animation-name: animation;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    margin: 80px;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 75px 75px 0;
    background: #000;
}

@-webkit-keyframes animation {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
    10% {
        -webkit-transform: rotateX(45deg) rotateY(45deg);
    }
    20% {
        -webkit-transform: rotateX(45deg) rotateY(90deg);
    }
    30% {
        -webkit-transform: rotateX(90deg) rotateY(45deg);
    }
    40% {
        -webkit-transform: rotateX(90deg) rotateY(90deg);
    }
    50% {
        -webkit-transform: rotateX(45deg) rotateY(0deg);
    }
    60% {
        -webkit-transform: rotateX(45deg) rotateZ(45deg);
    }
    70% {
        -webkit-transform: rotateX(90deg) rotateY(90deg);
    }
    80% {
        -webkit-transform: rotateX(90deg) rotateY(180deg);
    }
    90% {
        -webkit-transform: rotateX(45deg) rotateY(90deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
    }
}


/*六个面*/

#box div {
    position: absolute;
    height: 150px;
    width: 150px;
}

#box .one {
    -webkit-transform: translateZ(75px);
}

#box .two {
    -webkit-transform: rotatex(-90deg) translateZ(75px);
}

#box .three {
    -webkit-transform: rotateX(90deg) translateZ(75px);
}

#box .four {
    -webkit-transform: translateZ(-75px);
}

#box .five {
    -webkit-transform: rotateY(-90deg) translateZ(75px);
}

#box .six {
    -webkit-transform: rotateY(90deg) translateZ(75px);
}


/*每个面有9个div*/

#box div div {
    width: 47px;
    height: 47px;
    margin: 1px;
    position: relative;
    border: 0;
    float: left;
    border-radius: 5px;
}


#box .one div {
	background-color: red;
}
#box .two div {
	background-color: orange;
}
#box .three div {
	background-color: blue;
}
#box .four div {
	background-color: green;
}
#box .five div {
	background-color: yellow;
}
#box .six div {
	background-color: aqua;
}